/*********************
  Typography
**********************/
a {
    text-decoration: none;
}
@font-face{
    font-family: "Sansation";
    src: url("/assets/fonts/Sansation_Bold.ttf");
}
.sansation {
    font-family: "Sansation", sans-serif !important;
}
html {
    line-height: 1.5;
    font-family: "Roboto",
    sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}

p {
    font-size: 1.25rem;
    line-height: 1.8;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

small {
    font-size: 75%;
}

.thin-100 {
    font-weight: 100;
}

.thin-100-italic {
    font-weight: 100;
    font-style: italic;
}

.light-300 {
    font-weight: 300;
}

.light-300-italic {
    font-weight: 300;
    font-style: italic;
}

.normal-400 {
    font-weight: 400;
}

.normal-400-italic {
    font-weight: 400;
    font-style: italic;
}

.medium-500 {
    font-weight: 500;
}

.medium-500-italic {
    font-weight: 500;
    font-style: italic;
}

.bold-700 {
    font-weight: 700;
}

.bold-700-italic {
    font-weight: 700;
    font-style: italic;
}

.ultra-bold-900 {
    font-weight: 900;
}

.ultra-bold-900-italic {
    font-weight: 900;
    font-style: italic;
}

.flow-text {
    font-weight: 300;
}

@media only screen and (min-width: 360px) {
    .flow-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 390px) {
    .flow-text {
        font-size: 1.224rem;
    }
}

@media only screen and (min-width: 420px) {
    .flow-text {
        font-size: 1.248rem;
    }
}

@media only screen and (min-width: 450px) {
    .flow-text {
        font-size: 1.272rem;
    }
}

@media only screen and (min-width: 480px) {
    .flow-text {
        font-size: 1.296rem;
    }
}

@media only screen and (min-width: 510px) {
    .flow-text {
        font-size: 1.32rem;
    }
}

@media only screen and (min-width: 540px) {
    .flow-text {
        font-size: 1.344rem;
    }
}

@media only screen and (min-width: 570px) {
    .flow-text {
        font-size: 1.368rem;
    }
}

@media only screen and (min-width: 600px) {
    .flow-text {
        font-size: 1.392rem;
    }
}

@media only screen and (min-width: 630px) {
    .flow-text {
        font-size: 1.416rem;
    }
}

@media only screen and (min-width: 660px) {
    .flow-text {
        font-size: 1.44rem;
    }
}

@media only screen and (min-width: 690px) {
    .flow-text {
        font-size: 1.464rem;
    }
}

@media only screen and (min-width: 720px) {
    .flow-text {
        font-size: 1.488rem;
    }
}

@media only screen and (min-width: 750px) {
    .flow-text {
        font-size: 1.512rem;
    }
}

@media only screen and (min-width: 780px) {
    .flow-text {
        font-size: 1.536rem;
    }
}

@media only screen and (min-width: 810px) {
    .flow-text {
        font-size: 1.56rem;
    }
}

@media only screen and (min-width: 840px) {
    .flow-text {
        font-size: 1.584rem;
    }
}

@media only screen and (min-width: 870px) {
    .flow-text {
        font-size: 1.608rem;
    }
}

@media only screen and (min-width: 900px) {
    .flow-text {
        font-size: 1.632rem;
    }
}

@media only screen and (min-width: 930px) {
    .flow-text {
        font-size: 1.656rem;
    }
}

@media only screen and (min-width: 960px) {
    .flow-text {
        font-size: 1.68rem;
    }
}

@media only screen and (max-width: 360px) {
    .flow-text {
        font-size: 1.2rem;
    }
}

/* Responsive Headings */
@media only screen and (max-width: 480px) {
    .h1-responsive {
        font-size: 2.18rem;
    }
    .h2-responsive {
        font-size: 1.84rem;
    }
    .h3-responsive {
        font-size: 1.7rem;
    }
    .h4-responsive {
        font-size: 1.3rem;
    }
    .h5-responsive {
        font-size: 1.1rem;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .h1-responsive {
        font-size: 2.28rem;
    }
    .h2-responsive {
        font-size: 1.94rem;
    }
    .h3-responsive {
        font-size: 1.6rem;
    }
    .h4-responsive {
        font-size: 1.4rem;
    }
    .h5-responsive {
        font-size: 1.2rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .h1-responsive {
        font-size: 2.92rem;
    }
    .h2-responsive {
        font-size: 2.28rem;
    }
    .h3-responsive {
        font-size: 1.94rem;
    }
    .h4-responsive {
        font-size: 1.4rem;
    }
    .h5-responsive {
        font-size: 1.15rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .h1-responsive {
        font-size: 3.56rem;
    }
    .h2-responsive {
        font-size: 2.92rem;
    }
    .h3-responsive {
        font-size: 2.28rem;
    }
    .h4-responsive {
        font-size: 1.64rem;
    }
    .h5-responsive {
        font-size: 1.2rem;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .h1-responsive {
        font-size: 4.2rem;
    }
    .h2-responsive {
        font-size: 3.56rem;
    }
    .h3-responsive {
        font-size: 2.92rem;
    }
    .h4-responsive {
        font-size: 2.28rem;
    }
    .h5-responsive {
        font-size: 1.64rem;
    }
}
.uppercase {
    text-transform: uppercase;
}